<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Task Management</title>
</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('about')"></th:block> /*/-->
</header>

<main class="container">
    <h1 class="display-4">Task Management App</h1>
    <p class="lead">Application for a team to manage tasks</p>

    <hr class="my-4">
    <h2 class="my-second-header">Development Environment</h2>
    <ul>
        <li>Java</li>
        <li>Spring Boot</li>
        <li>MySQL</li>
        <li>Maven</li>
        <li>Bootstrap</li>
        <li>jQuery</li>
        <li>Docker</li>
        <li>Docker Compose</li>
    </ul>

</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>
