<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Task Management</title>
</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('home')"></th:block> /*/-->
</header>

<main class="container">
    <h1 class="display-4">Task Management App</h1>
    <p class="lead">Application for a team to manage tasks</p>

    <hr class="my-4">
    <h2 class="my-second-header">Features</h2>
    <p>Admin</p>
    <ul>
        <li>Create task and assign task to any user</li>
        <li>View list of all users and delete user</li>
        <li>View list of all tasks, edit and delete task</li>
        <li>Switch task completed/uncompleted</li>
    </ul>
    <p>Common user</p>
    <ul>
        <li>Create task only for himself</li>
        <li>View list of all users</li>
        <li>View list of all tasks, edit and delete only tasks that he is responsible for</li>
        <li>Switch owned task completed/uncompleted</li>
    </ul>

</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>
